<!DOCTYPE html>
<html>
<head>
	<title>Car price Prediction</title>
	
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style type="text/css">
	.btn{
		background: linear-gradient(to bottom right, red, blue);
		color: white;
	}
	.top{
		margin-top: 100px;
	}
	.fform{
		/*background-color: #340078;*/
		background-color: #eee;
		padding: 50px;
		margin-top: 70px;

	}
	.heading{
		background-color: #28015c;
		padding: 10px;
		color: white;
		text-align: center;
	}
</style>
</head>
<body style="background: linear-gradient(to bottom right, red, blue); background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;">
	<div class="col-lg-12 back">
		<div class="container">
			<div class="col-lg-5 col-lg-offset-3 top">
				<div class="col-lg-12 heading">
					<h3><b>Enter Car details</b></h3>
				</div>
				<form class="form fform" method="post" >

					<div class="form-group" style="text-align: center">
                        <label><b>Select Company: </b></label>
                        <select class="selectpicker form-control" id="company" name="company" required="1" >

                         {% for company in companies %}

                            <option value=" {{ company }}">{{ company }}</option>
                         {% endfor%}   
                        </select>
					</div>

					<div class="form-group" style="text-align: center">
                        <label><b>Select Car Model: </b></label>
                        <select class="selectpicker form-control" id="car_model" name="car_model" required="1" >
                           
							{% for model in car_models %}

                            <option value=" {{ model }}">{{ model }}</option>
                         {% endfor%} 
                        </select>
					</div>

					<div class="form-group" style="text-align: center">
                        <label><b>Select Year of purchase: </b></label>
                        <select class="selectpicker form-control" id="year" name="year" required="1">
							{% for year in years %}

                            <option value=" {{ year }}">{{ year }}</option>
                         {% endfor%}  
                        </select>
					</div>

					
					<div class="form-group" style="text-align: center">
                        <label><b>Select fuel type: </b></label>
                        <select class="selectpicker form-control" id="fuel_type" name="fuel_type" required="1">
							{% for fuel_type in fuel_types %}

                            <option value=" {{ fuel_type }}">{{ fuel_type }}</option>
                         {% endfor%}  
                        </select>
					</div>

                    
					<div class="form-group" style="text-align: center">
                        <label><b>Enter Kilometers Travelled: </b></label>
                        <input class="form-control" type="text" id="kilo_driven" name="kilo_driven" placeholder="Enter no. of kilometers travelled">
					</div>

					<div class="form-group">
						<button class="btn btn-primary form-control"onclick="send_data()">Predict</button>
					</div>

					<div class="form-group">
						<b>Predicted Amount: </b> {{ output }}

					</div>

				</form>
			</div>
		</div>
	</div>
<script>
	function form_handler(event)
	{
		event.preventDefault();
	}

	function send_data()
	{
		document.querySelector('form').addEventListener('predict', form_handler());

		var fd = new FormData(document.querySelector('form'));


		var xhr = new XMLHttpRequest();
		xhr.open('POST','/predict',true);

		document.getElementById("prediction").innerHTML="Wait!!!! predecting price.....";

		xhr.onreadystatechange=function()

		{
			if(xhr.ready == XMLHttpRequest.DONE)
			{
				document.getElementById("prediction").innerHTML="predection: " + xhr.responseText;
			}
		}
		xhr.onload=function(){};
		xhr.send(fd);
	}
</script>

</body>
</html>